<div class="quotes-section">
  <div class="section-header">
    <hr class="horizontal">
    <h3>All Quotes</h3>
    <hr class="horizontal">
  </div>

  <div class="quote-layout">
    <div class="container">
      <div class="row">
        <!-- First Quote -->
        <div class="col-md-4">
          <img src="assets/quote.png" alt="Quote Icon">
          
          <div class="quote-area">
            <!-- <p>Quote Area</p> -->
            <p>Nothing is impossible. The word itself says ‘I’m possible!</p>
          </div>

          <hr class="quote-separator">
          <p>Audrey Hepburn</p>

          <!-- Quote Details --> 
          <button class="more-btn">VIEW MORE</button>   
        </div>
      </div>
  </div>
</div>
