<div class="quotes-section">
  <div class="section-header">
    <hr class="horizontal">
    <h3>All Quotes</h3>
    <hr class="horizontal">
  </div>

  <div class="quote-layout">
    <div class="container">
      <div class="row">
        <!-- First Quote -->
        <div class="col-md-3" *ngFor = 'let quote of quotes; let i = index'>
          <img src="assets/quote.png" alt="Quote Icon">
          
          <div class="quote-area">
            <p>{{quote.quote}}</p>
          </div>

          <hr class="quote-separator">
          <p>{{quote.author}}</p>

          <!-- Quote Details -->
          
          <!-- Add a click event that will execute the showQuoteDetails() function -->
          <button (click) = 'showQuoteDetails(i)' class="more-btn">VIEW MORE</button>   
        </div>
      </div>
  </div>
</div>
