@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

.background{
  background-image: url(../assets/h-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.circle {
  background-color: #d58c7499;
  border: 1px solid white;
  border-radius: 100%;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  top: 25%;
  position: relative;
}

.title {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.intro {
  color: white;
  font-size: 20px;
  line-height: 1.6;
  font-family: 'Charm', cursive;
}

.speech-marks {
  font-weight: bold;
  font-size: 25px;
}

.horizontal {
  width: 50px;
  height: 5px;
  border: none;
  background: white;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}