.bold {
  font-weight: bold;
}

.post-details {
  display: flex;
  justify-content: center;
}

.black-horizontal {
  width: 100%;
  height: 1px;
  border: none;
  background: black;
}

.action-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: -10px;
}

.action-btns img {
  width: 100px;
  height: 100px;
  margin-right: 5px;
}

.upvote {
  margin-left: -30px;
}

.upvotes-num {
  margin-top: -30px;
  margin-left: 10px;
}

.downvote {
  margin-left: -5px;
}

.downvotes-num {
  margin-top: -30px;
  margin-left: -55px;
}

.del-btn {
  background-color: red;
  border: none;
  margin-left: 25px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  color: white;
}