<div class="quote-details">
  <div class="post-details">
    <p>Posted by: <span>{{details.firstName}}</span></p>
    <p>Date: <span>Date here</span>, <span>##</span> days ago.</p>
  </div>

  <hr class="black-horizontal">

  <div class="action-btns">
    <div>
      <img src="assets/upvote.png" alt="Upvote Icon">
      <p class="upvotes-num">40</p>
    </div>
    
    <div>
      <img src="assets/downvote.png" alt="Downvote Icon">
      <p class="downvotes-num">40</p>
    </div>

    <button class="del-btn">DELETE</button>
  </div>
</div> 
