<div class="quote-details">
  <hr class="black-horizontal">

  <div class="post-details">
    <p>Posted by: <span class="bold">{{details.firstName}}</span></p>
    <p>Date: <br><span class="bold">{{details.postedDate|date|uppercase}}</span></p>
    <p>This was <span>##</span> days ago.</p>
  </div>

  <div class="action-btns">
    <div>
      <!-- Add a click event that executes the upvote() function -->
      <img (click) = 'upvote()' class="upvote" src="assets/upvote.png" alt="Upvote Icon">
      <p class="upvotes-num">{{details.upvotes}}</p>
    </div>
    
    <div>
      <img class="downvote" src="assets/downvote.png" alt="Downvote Icon">
      <p class="downvotes-num">##</p>
    </div>

    <button class="del-btn">DELETE</button>
  </div>
</div> 
