<div class="form-section">
  <div class="section-header">
    <hr class="horizontal">
    <h3>New Quote</h3>
    <hr class="horizontal">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6 right-col">
        <img src="assets/form-background.png" alt="Quote Icon">
      </div>
      <div class="col-md-6 left-col">
        <div class="form-info">
          <p>Share Some Wise Words</p>
          <hr>

          <form>
            <label for="fname">First Name</label><br>
            <input type="text" id="fname" required><br>
  
            <label for="quote">Quote</label><br>
            <textarea id="quote" rows="3" required></textarea><br>
  
            <label for="author">Author</label><br>
            <input type="text" id="author" required><br>
  
            <button>ADD QUOTE</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
